@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.formItemMaxWidth{
  @apply max-w-3xl
}

.formWidth {
  @apply
  w-[350px]
  sm:w-[500px]
  md:w-[600px]
  lg:w-[800px]
}

.formWidth__lg {
  @apply
  w-[350px]
  sm:w-[500px]
  md:w-[600px]
  lg:w-[800px]
  xl:w-[1000px]
}

.input-field-text-title {
  @apply input
  input-secondary 
  w-full  
  rounded-none  
  border-2 border-base-300 bg-base-200
  font-poppins font-normal tracking-wide;
}

.input-field-text-para {
  @apply input  textarea
  textarea-bordered textarea-secondary h-24 
  w-full  
  rounded-none
  border-2 border-base-300 bg-base-200 py-2 
  font-poppins text-base font-normal
  leading-snug
  tracking-wide !important;
}

.input-field-text-para::placeholder {
  @apply text-base
  w-full 
}

.validation-error {
  @apply pb-0 font-poppins
  text-base font-normal  
  leading-snug
  text-error !important;
}

.vert-space-between-inputs {
  @apply mt-6;
}

.list-grid {
  @apply grid grid-cols-[minmax(0,_max-content)_min-content] 
  gap-x-6;
}

.two-button-spacing {
  @apply flex w-full gap-4;
}

.checkbox-label-flex {
  @apply flex items-center gap-4;
}
