@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';





#side-nav > li > a{
  @apply 
  text-base-content 
  flex h-12 
  cursor-pointer items-center truncate 
  px-4 py-4 
  font-mont 
  font-normal  
  
  hover:font-medium
  hover:bg-base-100 hover:outline-none 
  hover:shadow-lg hover:scale-105 hover:z-10 hover:text-primary 
  
  outline-none transition-all duration-300 ease-linear 
  motion-reduce:transition-none

  focus:bg-base-100 focus:text-primary-focus focus:font-semibold focus:outline-none 
  
}

#side-nav > li > a.active {
  @apply bg-base-100 text-primary font-semibold outline-none  ;
}

.link__right {
  @apply flex w-full justify-end !important;
}

.link__indent1 {
  @apply pl-8 !important;
}
.link__indent2{
  @apply pl-12 !important;
}
.link__indent3{
  @apply pl-16 !important;
}


